# Executables
cub3D
*.out
a.out

# Object files
*.o
obj/

# Libraries
*.a

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Debug
*.dSYM/
*.d

# Logs
*.log
valgrind-out.txt

# Test files
tester/
temp_*

# MLX42 build
MLX42/build/

# 42 subject
*.pdf